@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Consoles&Jogos do JG!</h1>
    <h2>Realize seus sonhos e compre os jogos e consoles da mais nova geração</h2>
    <img src="https://m.media-amazon.com/images/I/41bsdF9lMPL._AC_SX342_SY445_QL70_ML2_.jpg" alt="Imagem de Console" style="border-radius" />
    <img src="https://cdn.awsli.com.br/600x450/2443/2443989/produto/192412019f07c0e8722.jpg" alt="Foto de jogo" style="border-radius" />
</div>
