@page
@model ConsolesEJogosJoaoGabApp.Pages.QuemSomosModel
@{
}
    <div>
        <h1>Quem somos?</h1>
        <h4> Somos uma loja de vídeo-game/geek no geral. Nós vendemos controles, consoles, jogos e periféricos no geral, que englobam a cultura "video-game" no geral.
        Entramos no mercado este ano, e pretendemos ficar mais! Clique no botão de WhatsApp para entrar em contato e saber mais sobre nossos produtos e nossa loja</h4>

    </div>


